<h1>Compétences</h1>
<%= link_to "Voir les activités disponibles", activities_path %>
<ul>
  <% @skills.each do |skill| %>
    <li><%= skill.name %> : <%= skill.description %></li>
  <% end %>
</ul>

